@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background: #2E1C2B;
  --dark: #050404;
  --mid: #4A1942;
  --light: #893168;
  --lightest: #EAEAEA;
}

.aboutMe {
  background: var(--background);
  padding: 20px;
  margin-top: 140px; /* Accounts for the header and navbar height */
  margin-bottom: 60px; /* Accounts for the footer height */
  font-family: abril_fatface, sans-serif;

}

.aboutMe-container {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  gap: 20px; /* Space between image and text */
}

.aboutMe-image {
  width: 25%; /* Adjust size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional rounded corners */
}

.aboutMe-text {
  color: var(--lightest);
  max-width: 600px; /* Limit text width */
}

.aboutMe-text h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-align: left; /* Align to the left */
  color: var(--lightest);
  margin-bottom: 10px;
}
.aboutMe p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .aboutMe-container {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center content */
  }

  .aboutMe-image {
    width: 50%; /* Adjust size for smaller screens */
  }

  .aboutMe-text {
    text-align: center; /* Center text */
  }
}