/* Ensure Abril Fatface font is imported */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --background: #2E1C2B;
  --dark: #050404;
  --mid: #4A1942;
  --light: #893168;
  --lightest: #EAEAEA;
}


.header {
  display: flex;             /* Makes layout flexible */
  align-items: center;       /* Align vertically */
  justify-content: flex-start; /* Align content to the left */
  width: 100vw;             /* Full width */  
  padding: 10px 20px;     /* Padding around the header */
  box-sizing: border-box;  
  background-color: var(--light); /* Background color */
  color: var(--lightest);            /* Text color */
}

/* h1 styling */
.header h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 4rem;          /* Font size */
  margin: 20px;                  /* Remove default margin */
  color: var(--lightest);             /* Text color */
}

/* mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .header {
    font-size: 2.5rem;
    justify-content: center;       /* Center the header */
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  .header {
    font-size: 3rem;
    margin: 15px;  
    justify-content: flex-start;
  }

}

