:root {
  --background: #2E1C2B;
  --dark: #050404;
  --mid: #4A1942;
  --light: #893168;
  --lightest: #EAEAEA;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2.5rem;
  margin: 20px;
  color: var(--lightest);
}

.nav-item {
  background: var(--mid);
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item a {
  color: var(--lightest);
  font-family: lato , sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  background-size: 10% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

.nav-item a:hover {
  background-color: var(--background);
}

.nav-item a:last-child {
  margin-right: 0;
}

.nav-item a:active {
  background-color: var(--background);
  color: var(--lightest);
}
